$blue: #14181F;
$blue-dark: #0A0C10;
$blue-light: #272A31;

$brown: #B5A26B;  
$brown-dark: #3A331F;
$brown-light: #F2EAD5;

$white: #EDF1F7;
$white-dark: #E5E9EF;
$white-light: #FAF7FB;

$gray-1: #B5B6B8;
$gray-2:  #A1A3A5;
$gray-3: #7a7b7b;